@import url('./notosans.css');

html,
body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 24px;
    font-weight: 500;
    cursor: default;
    width: auto;
}

.mainview {
    width: auto;
}

@media (max-width: 319px) {
    * {
        display: none;
    }
}

@media (max-width: 470px) {
    .mainview {
        width: auto;
    }

    * {
        font-size: 17px !important;
    }

    .fixedTopDiv {
        height: 50px !important;
    }

    .menu {
        margin-top: 8px !important;
        margin-left: 5px !important;
    }

    .logo {
        margin-left: 15px !important;
        margin-top: 10px !important;
        font-size: 20px !important;
    }

    .mainDiv {
        margin-top: 70px !important;
    }

    .map_text {
        font-size: 16px !important;
    }

    .user {
        margin-top: 13px !important;
        font-size: 17px !important;
        margin-right: 15px !important;
    }

    .section_title {
        margin-bottom: -12px !important;
    }

    .map_table{
        margin: 15px 0 17px -2px !important;
    }
    
    .copy_text{
        font-size: 13px !important;
    }
}

@media (max-width: 480px) {
    .mainview {
        width: auto;
    }
}


.fixedTopDiv {
    background: dodgerblue;
    color: white;
    width: auto;
    height: 70px;
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}

.fixedTopDiv .user {
    cursor: pointer;
    font-size: 25px;
    font-weight: 600;
    float: right;
    margin-top: 15px;
    margin-right: 20px;
}

.fixedTopDiv .menu {
    float: left;
    margin-left: 15px;
    margin-top: 11px;
    font-size: 25px;
    font-weight: 600;
    padding: 5px 7px;
}

.menu_text {
    cursor: pointer;
    color: #CEEBFF;
    padding: 5px 4px;
}

.menu_text:hover {
    color: white;
}

.fixedTopDiv .logo {
    float: left;
    margin-left: 20px;
    margin-top: 7px;
    font-size: 35px;
    font-weight: 700;
}

.mainDiv {
    margin-top: 100px;
}

.section_title {
    font-size: 27px;
    font-weight: 700;
    margin-bottom: -20px;
}

.section_body {}

.title_text {
    padding: 5px 15px;
    background-color: #2384FF;
    color: white;
    border-radius: 10px 10px 0 0;
}

.ul_rank {
    background: #E0E8F1;
    padding: 0.5rem;
    border-radius: 0 10px 10px 10px;
}

ul > .li_rank {
    margin-top: 10px;
    font-size: 25px;
    font-weight: 600;
    list-style-type: none;
}

.map_text {
    cursor: pointer;
    border: 1px solid dodgerblue;
    background-color: aliceblue;
    color: dodgerblue;
    font-size: 23px;
    font-weight: 600;
    border-radius: 10px;
    text-align: center;
    padding: 8px 3px;
}

.map_table {
    width: 100%;
    margin: 22px 0 25px -2px;
}

#map {
    width: 100%;
    background: #eee;
}

.map_td {
    width: 80%;
    background: #eee;
}

.map_list_td {}

.copy_text{
    text-align: center;
    font-size: 15px;
}
